@page "/BookDetails/{Id:int}"

@inherits BookDetailsBase



@if (BookDto == null && ErrorMessage == null)
{
    <h3>Empty...</h3>
}
else if (ErrorMessage != null)
{
    <h3 class="text-danger">@ErrorMessage</h3>
}
else
{

    <h3>Book: @BookDto.Name</h3>
    <p>@BookDto.Author</p>
    <p>@BookDto.Description</p>
    <p>@BookDto.Price.ToString("C")</p>
    <button class="btn-light" @onclick=" ()=> AddToCart(new CartItemAddDto{
        BookId = BookDto.Id,
        Quantity = 1
        })">
        Buy
    </button>

    <AuthorizeView Roles="ADMIN">

        <Authorized>
            <a class="btn btn-secondary" href="/Book/EditBook/@BookDto.Id"> <span class="oi oi-pencil" aria-hidden="true"></span></a>

            <a class="btn btn-secondary" href="/Book/EditBookImage/@BookDto.Id"> <span class="oi oi-image" aria-hidden="true"></span></a>
            <button @onclick="async() => await DeleteBook(BookDto.Id)">
                <span class="oi oi-trash" aria-hidden="true"></span>
            </button>
        </Authorized>
    </AuthorizeView>



}