@page "/BookDetails/{Id:int}"

@inherits BookDetailsBase



@if (BookDto == null && ErrorMessage == null)
{
    <h3>Empty...</h3>
}
else if (ErrorMessage != null)
{
    <h3 class="text-danger">@ErrorMessage</h3>
}
else
{

    <h3>Book: @BookDto.Name</h3>
    <p>@BookDto.Author</p>
    <p>@BookDto.Description</p>
    <p>@BookDto.Price.ToString("C")</p>
    <button class="btn-light" @onclick=" ()=> AddToCart(new CartItemAddDto{
        CartId = '1'.ToString(),
        BookId = BookDto.Id,
        Quantity = 1
        })">Buy</button>
}